#box1 {
	display: flex;
	justify-content: center;
}

#gundongjpg{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 300px;
	border: white solid 10px;
}
#gundongjpg img{
	height: 300px;
}
body{
	background-image: url(bodybg/bodybg3.jpg);
}


/* 公共 */
.center{
	display: flex;
	justify-content: center;
}
			* {
				margin: 0;
				padding: 0;
				border: 0;
				text-decoration: none;
				list-style-type: none;
			}
h2{
	color: #666666;
}
/* 公共 */

/* bigbox */
#bigbox{
	margin-top: 20px;
	margin-bottom: 20px;
}
.box{
	display: flex;
	justify-content: center;
	width: 800px;
	background-color: blanchedalmond;
	padding: 10px 10px 10px 10px;
	border: white solid 10px;
}
.box img{
	width: 300px;
}
.box p{
	line-height: 32px;
	text-indent:2em;
	margin-left: 20px;
	margin-top: 10px;
	font-size: 18px;
}
.box span{
	font-size: 27px;
	margin-left: 20px;
	margin-top: 10px;
}
#boximg1,#boximg3,#boximg5{
	margin-left: 20px;
}
/* bigbox */

/* rightbox */
#rightbox{
	border: white solid 10px;
	margin-top: 13px;
	margin-bottom: 20px;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	width: 400px;
}
#box_1_2{
		height: 600px;
}
#boxs{
	width: 400px;
	background-color: blanchedalmond;
	border: white solid 2px;
}
#boxs img{
	width: 400px;
	height: 200px;
}
#box_p1,#box_p2{
	line-height: 32px;
	text-indent:2em;
}

/* rightbox */
